<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Linked Application Test Automation Test Suite">

	<listeners>
	<listener class-name="com.bridgelabz.linkedin.extentreportlistener.ExtentReporterNG"></listener>
	</listeners>	
  	<test name="Linked list App Test Cases">
    	<classes>
      		<class name="com.bridgelabz.linkedin.testcases.LoginPageTest"></class>
       		<class name="com.bridgelabz.linkedin.testcases.HomePageTest"></class> 
      		<class name="com.bridgelabz.linkedin.testcases.PostArticleTest"></class>
      		<class name="com.bridgelabz.linkedin.testcases.SignOutTest"></class>
      		<class name="com.bridgelabz.linkedin.testcases.JoinNowPageTest"></class>
    	</classes>
  	</test> 
	</suite> 